<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Búsqueda de RENIEC</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <h1>Búsqueda de RENIEC</h1>
    <form id="searchForm">
      <label for="searchType">Tipo de búsqueda:</label>
      <select id="searchType" name="searchType" onchange="toggleFields()">
        <option value="">Seleccione una opción</option>
        <option value="nombres">Por Nombres y Apellidos</option>
        <option value="solo_apellidos">Solo Apellidos</option>
        <option value="dni">Por DNI</option>
        <option value="celular">Por Celular</option>
      </select>
      <br />

      <!-- Campos de entrada para nombres y apellidos -->
      <div id="nameFields" style="display: none">
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" />
        <br />
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" />
      </div>

      <!-- Campo de entrada solo para apellidos -->
      <div id="lastNameOnlyField" style="display: none">
        <label for="apellidosOnly">Apellidos:</label>
        <input type="text" id="apellidosOnly" name="apellidosOnly" />
      </div>

      <div id="dniField" style="display: none">
        <label for="dni">DNI:</label>
        <input type="text" id="dni" name="dni" />
      </div>

      <div id="celularField" style="display: none">
        <label for="celular">Celular:</label>
        <input type="text" id="celular" name="celular" />
      </div>

      <br />
      <button type="button" onclick="buscar()">Buscar</button>
    </form>

    <div id="loading" class="loading" style="display: none">Cargando...</div>

    <div id="result" class="result" style="display: none">
      <h2>Resultados de la búsqueda:</h2>
      <pre id="resultContent"></pre>
    </div>
  </body>
</html>
